<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>
  
  <nav>
    <a href="/">home</a>
    <a href="/patata">ir a about</a>
    <a href="/lessons/all">Todas las lecciones</a>
    <a href="/lessons/approved">Lecciones aprobadas</a>
    <br>
    <a href="/lessons/web">Web Lessons</a>
    <a href="/lessons/ux">UX Lessons</a>
    <a href="/lessons/cyber">Cyber Lessons</a>
  </nav>

  {{{body}}}


</body>
</html>