<div>

  <h3>Fotos de perritos por una raza : {{this.breed}}</h3>

  {{#each this.someDogs}}

    {{!-- <div class="perrito-card">
      <h4>Este es el mejor perrito del mundo</h4>
      <img src="{{this}}" alt="perrete" width="300px">
      <p>Rating: 11/10 🐶</p>
    </div> --}}

    {{> dogpartial this }}

  {{/each}}

</div>